/.lightning_studio
/.vscode
/.idea
/.gnupg
*.db
/backend/utils/__pycache__
/gui
/.bun
/backend/__pycache__
csbook-recommender-firebase-adminsdk-fbsvc-febd92a62e.json
.cursor-server
.vscode-server
.windsurf-server
